@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/geist-mono";
@import "./styles/typography.css";
@import "./styles/color.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-marquee: marquee var(--duration, 25s) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration, 25s) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(calc(-100% - var(--gap, 2rem)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(calc(-100% - var(--gap, 2rem)));
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-mono);
    font-variant-numeric: tabular-nums lining-nums;
  }

  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    letter-spacing: -0.02em; /* koreksi tracking mono di ukuran besar */
    font-weight: 600;
  }
}